.App {
  min-height: 100vh;
  @apply bg-light-blue-50;
}

.App-header {
  @apply bg-light-blue-600 min-h-screen flex flex-col items-center justify-center text-white;
}

.App-link {
  @apply text-light-green-400 hover:text-light-green-300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
